<div id="pop-up" class="pop-up-show">
  <div class="contact-container">
    <div class="contact-info">
      <div class="contact-text">
        <h1>C O N T A C T</h1>
        <div class="plug">
          <img src="images/live/icons/mail-icon.svg" alt="email-icon" />
          <p>rentaboothla@gmail.com</p>
        </div>
        <div class="plug">
          <img src="images/live/icons/phone-icon.svg" alt="phone-icon" />
          <p>1.800.945.7749</p>
        </div>
        <div class="contact-social-links">
          <ul>
            <li>
              <a href="#">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <ion-icon name="logo-tiktok"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="vertical-line" />
    <div class="contact-form-side-pane">
      <img
        src="images/live/icons/close-button.svg"
        alt="close"
        id="close-btn"
        class="pop-up-hide"
      />
      <div class="contact-form-container">
        <div class="contact-title-wrapper">
          <h2>Send us a messsage</h2>
        </div>
        <!-- form content start -->
        <form
          id="contact-form"
          action="https://formsubmit.co/erickalvarezwebdev@gmail.com"
          method="POST"
        >
          <!-- Disable reCAPTCHA -->
          <input type="hidden" name="_captcha" value="false" />
          <div class="input-wrapper email-number-wrapper">
            <input type="text" name="name" placeholder="Name" required />
            <input
              type="text"
              name="phone-number"
              placeholder="Phone Number"
              required
            />
          </div>
          <div class="input-wrapper email-wrapper">
            <input
              type="email"
              name="email"
              placeholder="Your Email Address"
              required
            />
          </div>
          <div class="input-wrapper text-wrapper">
            <textarea
              name="message"
              placeholder="How can we help?"
              required
            ></textarea>
          </div>
        </form>
        <!-- form content end -->
        <div class="form-footer">
          <div class="contact-form-logo" alt="Rent-A-Booth logo"></div>
          <button type="submit" for="contact-form" class="submit-btn">
            Send Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
