<div class="footer">
  <p class="footer-credits">
    Created and designed by <span>Erick Alvarez</span>
  </p>
  <div class="footer-email">
    <p>Need a website?</p>
    <a class="email-link" href="#">
      <div class="email-icon"></div>
      <p>erickalvarezwebdev@gmail.com</p>
    </a>
  </div>
</div>
