<a href="/" class="logo">
  <div class="logo-image" alt="Rent-A-Booth logo"></div>
</a>
<nav>
  <ul class="nav-links">
    <li><a class="home-nav-link" href="/#home">Home</a></li>
    <li>
      <a class="products-nav-link" href="/products">Products</a>
    </li>
    <li>
      <a
        class="appointments-nav-link"
        href="http://rentabooth.simplybook.me"
        target="_blank"
        >Appointments</a
      >
    </li>
    <li><a class="about-nav-link" href="/about">About</a></li>
    <li>
      <a id="contact" class="contacts-nav-link" href="#home">Contact</a>
    </li>
  </ul>
</nav>
