@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --color-one: #F8F9FA;
    --color-two: #E9ECEF;
    --color-three: #DEE2E6;
    --color-four: #CED4DA;
    --color-five: #ADB5BD;
    --color-six: #6C757D;
    --color-seven: #495057;
    --color-eight: #343A40;
    --color-nine: #212529;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-one);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    /* border: 2px red solid; */
}

.logo-image {
    background-image: url("public/images/logos/MAIN_LOGO.jpeg");
    background-position: center;
    background-size: 115% 325%;
    background-repeat: no-repeat;
    width: 11rem;
    height: 4rem;
    overflow: hidden;
    /* border: 1px solid magenta; */
}

nav {
    height: 100%;
    flex-grow: 1;
    background-color: #000;
}

nav ul {
    height: 100%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    /* border: 1px green solid; */
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.home-nav-link {
    border: 2px solid white;
    width: auto;
    padding: 20% 50%;
}

