<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Rent-A-Booth LA</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="stylesheets/about.css" />
  </head>
  <body>
    <!-- header start -->
    <%- include("./partials/nav") %>
    <!-- header end -->

    <div class="page-container">
      <!-- navbar end -->
      <!-- design start -->
      <div class="circle"></div>
      <!-- design end -->
      <!-- title start -->
      <div class="title-container">
        <h1>About</h1>
        <h1 class="rent-a-booth-la">Rent - A - Booth LA</h1>
      </div>
      <!-- title end -->
      <!-- resume start -->
      <div class="resume-container">
        <div class="resume-pic-container">
          <div class="resume-pic"></div>
        </div>
        <div class="resume-text-container">
          <div class="resume-text">
            <h3>Education</h3>
            <div class="resume-experience">
              <div>
                <p>UCLA School of Theater, Film & Television</p>
                <p>Bachelor of Arts - Film and Television</p>
              </div>
              <p class="resume-time">2019 - 2021</p>
            </div>
            <div class="resume-experience">
              <div>
                <p>Long Beach City College</p>
                <p>A.S.T. - Film and Television</p>
              </div>
              <p class="resume-time">2017 - 2019</p>
            </div>

            <h3>Work Experience</h3>
            <div class="resume-experience">
              <p>Haven Creative - Assistant Editor</p>
              <p class="resume-time">2022 - Present</p>
            </div>
            <div class="resume-experience">
              <p>Photo Makers - Studio Photographer</p>
              <p class="resume-time">2021 - 2022</p>
            </div>
          </div>
        </div>
      </div>
      <!-- resume end -->
      <section class="content-container">
        <div class="about-text">
          <p>
            Matt Gonzalez is a filmmaker and photographer from Los Angeles, CA.
            He studied Film and Television at UCLA with concentrations in
            Cinematography and Post-Production. Since then, he has worked
            professionally in the film and photo industry as a production
            assistant, camera assistant, freelance photographer, and studio
            photographer. Presently, Matt is a full-time assistant editor for
            the marketing campaigns of major streaming services such as Amazon
            Prime and Paramount+. For this reason, Rent-A-Booth LA is limited to
            weekend availability.
          </p>
          <p>
            Matt combined his passions for film, photography and fiestas to
            develop Rent-A-Booth LA. He is excited to use his artistic and
            technological skills to bring joy to his community.
          </p>
          <p>
            As a small business run by a trained filmmaker and photographer,
            Rent-A-Booth LA is the superior yet affordable addition to your
            event!
          </p>
        </div>
      </section>
    </div>

    <!-- footer start -->
    <%- include("./partials/footer") %>
    <!-- footer end -->

    <!-- contact pop-up start -->
    <%- include("./partials/contact-pop-up") %>
    <!-- contact pop-up end -->

    <!-- social links library start -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- social links library end -->

    <!-- contact pop-up functionality -->
    <script src="javascripts/pop-up.js"></script>
    <!-- hamburger menu functionality -->
    <script src="javascripts/navbar.js"></script>
  </body>
</html>
