<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs | Rent-A-Booth LA</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="stylesheets/faqs.css" />
  </head>
  <body>
    <!-- header start -->
    <%- include("./partials/nav") %>
    <!-- header end -->

    <div class="page-container">
      <!-- navbar end -->
      <!-- design start -->
      <div class="circle"></div>
      <!-- design end -->
      <!-- title start -->
      <div class="title-container">
        <h1>F A Q s</h1>
      </div>
      <!-- title end -->

      <!-- questions start -->
      <section class="questions-container">
        <div class="question">
          <div class="heading">
            <h4>Are you licensed?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Are you insured?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Where do you operate?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>What type of printing do you have?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>What cameras do you use?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you charge sales tax?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Can you set up outdoors and indoors?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>How much space does your booth need?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you service corporate events?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you travel?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you offer payment plans?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you offer refunds?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
        <div class="question">
          <div class="heading">
            <h4>Do you need an outlet nearby?</h4>
            <img
              class="polygon up"
              src="../images/live/icons/polygon.svg"
              alt="arrow"
              aria-hidden="true"
            />
          </div>
          <div class="answer hide">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni animi
            placeat illum asperiores recusandae tenetur cum error pariatur
            dolore nesciunt rem ratione omnis iure iusto at reiciendis
            voluptatem, a expedita fugit quos. Repudiandae sit officiis libero
            omnis quas tenetur voluptatibus debitis reprehenderit repellat
            mollitia at sequi, dignissimos exercitationem corrupti facilis?
          </div>
        </div>
      </section>
      <!-- questions end -->
    </div>

    <div class="footer">
      <p class="footer-credits">
        Created and designed by <span>Erick Alvarez</span>
      </p>
      <div class="footer-email">
        <p>Need a website?</p>
        <a class="email-link" href="#">
          <div class="email-icon"></div>
          <p>erickalvarezwebdev@gmail.com</p>
        </a>
      </div>
    </div>

    <!-- contact pop-up start -->
    <!-- <div id="pop-up" class="pop-up-hide">
      <div class="contact-container">
        <div class="contact-info">
          <div class="contact-text">
            <h1>C O N T A C T</h1>
            <div class="plug">
              <img src="images/live/icons/mail-icon.svg" alt="email-icon" />
              <p>rentaboothla@gmail.com</p>
            </div>
            <div class="plug">
              <img src="images/live/icons/phone-icon.svg" alt="phone-icon" />
              <p>1.800.945.7749</p>
            </div>
            <div class="contact-social-links">
              <ul>
                <li>
                  <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-tiktok"></ion-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="vertical-line" />
        <div class="contact-form-container">
          <img
            src="images/live/icons/close-button.svg"
            alt="close"
            id="close-btn"
            class="pop-up-hide"
          />
          <div class="contact-form">
            <h2>Send us a messsage</h2>
            <form
              action="https://formsubmit.co/erickalvarezwebdev@gmail.com"
              method="POST"
            >
              <input type="hidden" name="_captcha" value="false" />
              <div class="top-form-group">
                <div class="form-group">
                  <input type="text" name="name" placeholder="Name" required />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="phone-number"
                    placeholder="Phone Number"
                    required
                  />
                </div>
              </div>
              <div class="form-group email-group">
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Address"
                  required
                />
              </div>
              <div class="form-group text-group">
                <textarea
                  name="message"
                  placeholder="How can we help?"
                  required
                ></textarea>
              </div>
              <div class="form-footer">
                <div class="logo">
                  <div class="logo-image" alt="Rent-A-Booth logo"></div>
                </div>
                <button class="submit-btn">Send Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <%- include("./partials/contact-pop-up") %>
    <!-- contact pop-up end -->

    <!-- social links library start -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- social links library end -->

    <!-- arrow functionality -->
    <script src="javascripts/faqs.js"></script>
    <!-- contact pop-up functionality -->
    <script src="javascripts/pop-up.js"></script>
    <!-- hamburger menu functionality -->
    <script src="javascripts/navbar.js"></script>
  </body>
</html>
