body {
    background-color: var(--color-one);
    height: 100%;
    width: 100%;
}

.page-container {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/* navbar start */
.home-nav-link {
    border: none;
}

.about-nav-link {
    border: 2px solid white;
    /* width: auto; */
    /* padding: 20% 50%; */
}

/* navbar end */

/* design start */
.circle {
    height: 70rem;
    width: 70rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    translate: -10% -10%;
    z-index: -1;
}
/* design end */

.title-container > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    /* outline: 1px solid red; */
}

/* questions start */
.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 1rem; */
    /* border: 2px solid red; */
}
.question {
    width: 80%;
    /* outline: 1px solid red; */
    margin-bottom: 2rem;
}
.polygon {
    width: 1.4rem;
    margin-left: 1rem;
}
.polygon:hover {
    cursor: pointer;
}
.up {
    transform: rotate(0deg);
    transition: transform .2s ease-in;
}
.down {
    transform: rotate(-180deg);
    transition: transform .2s ease-in;
}
.question > h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    /* outline: 1px  solid red; */
    width: max-content;
}
.question > h4:hover {
    cursor: pointer;
}

.hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in;
}
.show {
    height: auto;
    max-height: 10rem;
    overflow: hidden;
    transition: max-height .3s ease-in .2s;
}
/* questions end */