/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --color-one: #F8F9FA;
    --color-two: #E9ECEF;
    --color-three: #DEE2E6;
    --color-four: #CED4DA;
    --color-five: #ADB5BD;
    --color-six: #6C757D;
    --color-seven: #495057;
    --color-eight: #343A40;
    --color-nine: #212529;

    overflow-x: hidden;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-one);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* reset links an lists */
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* nav bar start */
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    height: 100%;
    width: 11rem;
}
.logo-image {
    background-image: url("../images/live/scaled-down/logos/MAIN_LOGO_small.jpeg");
    background-position: center;
    background-size: 125% 225%;
    background-repeat: no-repeat;
    width: 11rem;
    height: 4rem;
    /* border: 1px solid magenta; */
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.nav-links {
    position: absolute;
    margin-left: 11rem;
    height: 4rem;
    width: calc(100% - 11rem);
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    width: 2rem;
    padding: .5rem 1rem;
    /* outline: red 1px solid; */
}

/* hamburger menu start */
.hamburger-toggle-button {
    display: none;
    position: absolute;
    top: 0;
    right: .5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 4rem;
    padding: 1rem 0 1rem 0;
}
.hamburger-toggle-button .bar {
    background-color: #fff;
    height: 5px;
    width: 100%;
    border-radius: 10px;
}
/* hamburger menu end */

.home-nav-link {
    border: 2px solid white;
}
/* nav bar end */

/* footer start */
.footer {
    background-color: #5C6D70;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-credits {
    color: #FFF;
}
.footer-credits > span {
    font-weight: bold;
}
.footer-email {
    display: flex;
    align-items: center;
}
.footer-email > p {
    color: #FFF;
}
.email-link {
    color: #FFF;
    display: flex;
    align-items: center;
}
.email-icon {
    margin: 0 1rem;
    background-image: url("../images/live/icons/mail-icon.png");
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* footer end */

/* contact pop-up start */
#pop-up {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #212529;
    color: #FFF;
    z-index: 100;
    display: block;
    top: 100vh;
}

.pop-up-show {
    transform: translateY(-100%);
    transition: transform ease-in-out 500ms;
}
.pop-up-hide {
    transform: translateY(0);
    transition: transform ease-in-out 500ms 200ms;
}

.contact-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-text {
    position: relative;
    width: 50%;
    height: 60%;
}
.contact-text > h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: 'Montserrat';
}
.plug {
    display: flex;
    margin-bottom: 1.5rem;
}
.plug > img {
    width: 3rem;
    height: 3rem;
}
.plug > p {
    margin-left: 1rem;
    align-self: center;
    font-size: 1.1rem;
}
.contact-social-links > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}
.vertical-line {
    width: 1px;
    height: 80%;
    color: #FFF;
}
.contact-form-container {
    width: 50%;
    height: 100%;
    display: flex;
}
#close-btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 3%;
    top: 3%;
}
#close-btn:hover {
    cursor: pointer;
}
#close-btn.pop-up-show {
    transform: rotate(0deg);
    transition: transform ease 0ms;
}
#close-btn.pop-up-hide {
    transform: rotate(-720deg);
    transition: transform ease 500ms;
    transition-delay: 0ms;
}

/* social links start */
.social-links {
    height: 5rem;
    width: 100%;
    background-color: #000;
}
.social-links > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links > ul > li {
    color: #FFF;
    margin-right: 15%;
}
.social-links > ul > li:last-child {
    margin-right: 0;
}
ion-icon {
    height: 3rem;
    width: 3rem;
    transition: all 200ms ease-in;
}
ion-icon:hover {
    transform: translate(0, -0.2rem);
    transition: transform 200ms ease-in;
}
/* social links end */

/* contact form start */
.contact-form {
    width: 80%;
    height: 60%;
    border-radius: 10%;
    background-color: #FFF;
    color: #212529;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact-form > h2 {
    text-align: center;
    color: #212529;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.form-group > input, .form-group > textarea {
    border-style: hidden;
    border-bottom: solid;
    border-bottom-color: #212529;
    background-color: transparent;
    height: 2rem;
}
.form-group > input::placeholder, .form-group > textarea::placeholder {
    font-family: 'Montserrat';
    color: #212529;
    font-size: 1.2rem;
}
.contact-form > form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-group {
    height: 100%;
    margin-bottom: 10%;
    outline: 4px solid orange;
}
.top-form-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.top-form-group > .form-group {
    width: 50%;
    /* outline: 3px solid blue; */
}
.top-form-group > .form-group:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.top-form-group > .form-group > input {
    width: 90%;
    /* outline: 2px solid magenta; */
}
.email-group > input {
    /* height: 100%; */
    width: 100%;
}
.text-group {
    height: 35%;
    border: 2px solid magenta;
}
.text-group > textarea {
    width: 100%;
    /* height: 100%; */
    resize: none;
    flex-grow: 1;
    font-family: 'Montserrat';
}
.form-footer {
    display:  flex;
    justify-content: space-between;
}
.form-footer .logo-image {
    background-position: center;
    background-size: 125% 225%;
    height: 3rem;
    width: 7rem;
}
.form-footer .submit-btn {
    width: 12rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--color-eight);
    color: #FFF;
    font-weight: bold;
    translate: 0 0;
    transition: translate 300ms;
}
.form-footer .submit-btn:hover {
    translate: 0 -0.2rem;
    transition: translate 300ms;
    cursor: pointer;
}
input:focus::placeholder {
    opacity: .3;
}
textarea:focus::placeholder {
    opacity: .3;
}
/* contact form end */
/* contact pop-up end */

/* media queries start */

@media (max-width: 1366px) {

}

@media (max-width: 768px) {
    .nav-links li a {
        font-size: .75rem;
    }
}

@media (max-width: 700px) {
    .footer {
        height: auto;
        flex-direction: column;
        padding: 1rem 0;
    }
    .footer-credits {
        margin: 0 0 1rem 0;
    }
    .footer-email {
        flex-direction: column;
    }
    .email-link {
        margin-top: .5rem;
    }
    .email-icon {
        margin: 0 .5rem 0 0;
    }
}

/* hamburger menu */
@media (max-width: 648px) {
    .hamburger-toggle-button {
        display: flex;
    }
    nav {
        flex-direction: column;
        overflow: hidden;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        border-top: 1px solid #fff;
        margin-left: 0;
        padding-right: 0;
        width: 100%;
        justify-content: center;
        height: auto;
    }
    .nav-links li {
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .nav-links li:hover {
        background-color: #111;
    }
    .nav-links a {
        width: 100%;
        
    }
    .nav-links.active {
        display: flex;
        transform: translateY(4rem);
    }
    /* TODO: stop page from scrolling up when clicked */
}


@media (max-width: 428px) {

}

@media (max-width: 411px) {

}

@media (max-width: 375px) {

}

@media (max-width: 360px) {

}

/* media queries end */